.Titulo {
    color: rgba(30, 0, 255, 0.849)
}

#Nombre {
    color: rgba(42, 141, 207, 0.832);
}

table {
    border-collapse: collapse;
}

th, td {
    border-style: solid
}

.botonfondo {
    display: inline-block;
    width: 250px; 
    height: 80px; 
    padding: 15px 30px;
    background-size: cover; 
    text-decoration: none;
    background-image: url("../Img/Imagen de WhatsApp 2025-08-19 a las 09.54.54.5e4ad06b.jpg");
}
